<div class="d-flex align-items-center py-4" style="min-height: 100vh;">
  <main class="form-signin w-100 m-auto">
    <%= form_with(url: sessions_path, local: true) do |form| %>
      <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

      <div class="form-floating mb-3">
        <%= form.email_field :email, class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating mb-3">
        <%= form.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "Password" %>
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-check text-start my-3">
        <%= form.check_box :remember_me, class: "form-check-input", id: "flexCheckDefault" %>
        <label class="form-check-label" for="flexCheckDefault">
          Remember me
        </label>
      </div>

      <%= form.submit "Sign in", class: "btn btn-primary w-100 py-2" %>
    <% end %>

    <hr class="my-4">

    <%= button_to "/auth/github", class: "btn btn-dark w-100 py-2 d-flex align-items-center justify-content-center fw-bold", data: { turbo: false } do %>
      <i class="bi bi-github fs-5 me-3"></i>
      Continue with GitHub
    <% end %>
    <p class="mt-5 mb-3 text-body-secondary text-center">&copy; Anabada 2024</p>

  </main>
</div>