<!-- app/views/comments/show.html.erb 

<p><strong>Title:</strong> <%= @comment.title %></p>
<p><strong>Content:</strong> <%= @comment.content %></p>

<%= link_to 'Edit', edit_product_comment_path(@product, @comment), class: 'btn btn-warning' %>
<%= link_to 'Delete', [@product, @comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to 'Back to Product', product_path(@product), class: 'btn btn-secondary' %>

-->
