<div id="<%= dom_id product %>">
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"><strong>Name:</strong> <%= product.name %></h5>
      <p class="card-text"><strong>Description:</strong> <%= product.description %></p>
      <p class="card-text"><strong>Posted date:</strong> <%= product.posted_date %></p>
      <p class="card-text"><strong>Price:</strong> <%= number_to_currency(product.price) %></p>
    </div>
  </div>
</div>


